html, body {
    margin: 0;
}

a {
    cursor: pointer;
}

#app {
    height: 100vh;
    width: 100vw;
}

.body-content {
    padding-top: 72px;
}

.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.toolbar-inner {
    padding: 16px;
    line-height: 48px;
    display: flex;
    justify-content: space-between;
}

.toolbar-address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
}

.toolbar-address, .toolbar-title {
    color: #b59654;
    font-weight: bold;
    font-size: 18px;
}

.home-header {
    padding: 16px;
    text-align: center;
}

.home-header-circle {
    width: 132px;
    height: 132px;
    border-radius: 100% !important;
    display: inline-block;
    background-image: url(../images/vsys-logo.png);
    background-size: 66%;
    background-position: center 66%;
    background-repeat: no-repeat;
}

.home-header-ammount {
    padding: 16px 0px;
    font-size: 24px;
    font-weight: bold;
}

.home-header-buttons button {
    margin: 0px 8px;
}

.home-transactions {
    padding: 16px 0px 0px 0px;
}

.transactions-header {
    justify-content: space-between;
    display: flex;
    line-height: 24px;
    font-size: 18px;
    padding: 0px 16px 0px 16px;
}

.transactions-header-title {
    cursor: pointer;
}

.transactions-header-title svg {
    margin-right: 8px;
    vertical-align: middle;
}

.transaction-block {
    display: flex;
    margin: 12px 0;
}

.transactions-blocks {
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px 16px 0px 16px;
}

.transaction-block button {
    display: inline-block;
    margin-right: 12px;
    float: left;
}

.transaction-data {
    display: inline-flex;
    justify-content: space-between;
    float: right;
    width: 100%;
}

.no-transactions {
    padding: 16px;
    width: 100%;
    text-align: center;
}

.menu-links {
    padding: 16px;
}

.menu-links .nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin-bottom: 12px;
}

.menu-links .nav-link svg {
    vertical-align: middle;
    margin-right: 8px;
    padding-bottom: 4px;
}

.send-inputs {
    display: grid;
    padding: 16px;
}

.send-buttons {
    padding: 16px;
    text-align: right;
}

.send-ok-button svg rect, .send-ok-button svg path {
    fill: #c8b069;
}

.no-transactions svg rect, .no-transactions svg path {
    fill: #c8b069;
}

.home-header-ammount svg rect, .home-header-ammount svg path {
    fill: #c8b069;
}

.send, .send svg path {
    color: #a91e2c;
}

.send svg {
    margin-right: 4px;
}

.receive, .receive svg path {
    color: #18634b;
}

.receive svg {
    margin-left: 4px;
}

.send-ok-button {
    margin-left: 16px;
}

.input-group {
    display: grid;
    margin-bottom: 16px
}

.receive-buttons {
    padding: 16px;
    text-align: right;
}

.qr-card-zone {
    padding: 16px;
    text-align: center;
}

.qr-card {
    max-width: 216px;
    max-height: 216px;
    display: inline-block;
}

.address-zone {
    padding: 16px;
}

.address-zone input {
    width: calc(100% - 92px);
}

.open-form-group {
    padding: 16px;
}

.open-text {
    padding: 16px;
}

.open-buttons {
    padding: 16px;
    text-align: right;
}

.open-buttons button:first-child {
    margin-left: 0px;
}
 
 .open-buttons button {
     margin-left: 16px;
 }

.open-buttons button svg rect, .open-buttons button svg path {
    fill: #c8b069;
}

input:checked + label.toggle::after {
    background-color: #c8b069 !important;
}

input:checked + label.checkbox::before {
    background-color: #c8b069 !important;
}

.terms-content {
    padding: 0px 16px 16px 16px;
}

.terms-social-buttons {
    text-align: center;
}

.terms-social-buttons button {
    margin: 0 8px;
}

button.facebook svg path {
    color: #3b5999;
}

button.twitter svg path {
    color: #1da1f2;
}

button.github svg path {
    color: #31344b;
}

.about-content {
    padding: 0px 16px 32px 16px;
}

.security-content {
    padding: 0px 16px 32px 16px;
}

.password-change-button svg rect, .password-change-button svg path {
    fill: #c8b069;
}